<div>
    <h2>
        <span>Messages</span>
        <button class="btn btn-primary float-right create-message" [routerLink]="['/', { outlets: { popup: ['message-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Message
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="messages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Message Time</span></th>
            <th><span>Message Text</span></th>
            <th><span>Freelancer</span></th>
            <th><span>Client</span></th>
            <th><span>Proposal</span></th>
            <th><span>Proposal Status Catalog</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let message of messages ;trackBy: trackId">
                <td><a [routerLink]="['../message', message.id ]">{{message.id}}</a></td>
                <td>{{message.messageTime | date:'medium'}}</td>
                <td>{{message.messageText}}</td>
                <td>
                    <div *ngIf="message.freelancerId">
                        <a [routerLink]="['../freelancer', message.freelancerId  ]" >{{message.freelancerId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="message.clientId">
                        <a [routerLink]="['../client', message.clientId  ]" >{{message.clientId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="message.proposalId">
                        <a [routerLink]="['../proposal', message.proposalId  ]" >{{message.proposalId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="message.proposalStatusCatalogId">
                        <a [routerLink]="['../proposal-status-catalog', message.proposalStatusCatalogId  ]" >{{message.proposalStatusCatalogStatusName}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../message', message.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'message/'+ message.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'message/'+ message.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
