
<div *ngIf="client">
    <h2><span>Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Image</span></dt>
        <dd>
            <span>{{client.image}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{client.userLogin}}
        </dd>
        <dt><span>Location</span></dt>
        <dd>
            <div *ngIf="client.locationId">
                <a [routerLink]="['/location', client.locationId]">{{client.locationId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
