<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myFreelancerLabel">Create or edit a Freelancer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!freelancer.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="freelancer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_image">Image</label>
            <div>
                <div *ngIf="freelancer.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{freelancer.imageContentType}}, {{byteSize(freelancer.image)}}</span>
                    <button type="button" (click)="freelancer.image=null;freelancer.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" (change)="setFileData($event, freelancer, 'image', false)"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="freelancer.image"
             />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="freelancer.imageContentType" />
        </div>

        <div class="form-group">
            <label for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="freelancer.userId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_location">Location</label>
            <select class="form-control" id="field_location" name="location" [(ngModel)]="freelancer.locationId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_skill">Skill</label>
            <select class="form-control" id="field_skill" multiple name="skill" [(ngModel)]="freelancer.skills">
                <option [ngValue]="getSelected(freelancer.skills, skillOption)" *ngFor="let skillOption of skills; trackBy: trackSkillById">{{skillOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
